<!DOCTYPE html>
<html>
<head>
  <title>Sequences</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/css/additional_styles.css">  
</head>
<body>

<%= yield %>

</body>
</html>
